/* fonts */
/* font-family: 'Francois One', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

body {
    margin: 0;
    background-color:#E5E5E5;
}
/* HEADER */

.header {
    background-color: #FFD59E;
    padding-top: 32px;
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}
.header__brand {
    width: 100%;
    padding-left: 24px;
    height: auto;
    
    
   
}
.logo {
    font-family: 'Francois One', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF6738;
    float: left;
    width: auto;
}

.header__brand__slogan {
    width: 70%;
    float: left;
    padding-left: 16px;
    margin-top: 10px;
   
}


.header__slogan__underscore {
    height: 9px;
    background-color: #FF6738;
    width: 100%;
    border: 0;
}

.header__topnav {
    margin-top: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #FF6738;
    display: inline-block;
    width: 100%;
    
}

.header__topnav__ul {
    list-style-type: none;
    

}

.header__topnav__ul__li {
    display: inline-block;
    padding: 16px 20px 16px 20px;
    

}

/* HERO */
.Hero {
    height: auto;
    

}
        


.Hero__Content {
    height: auto;
    padding: 16px 0;
    margin-bottom: 16px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.Hero__Content__Image {
    float: left;
    margin-right: 16px;
    width: 327px;
    

}

.Hero__Content__Textblock {
    vertical-align: middle;
    max-width: 1100px;
    

}
/* le fondateur */

.Le-Fondateur {
background-color: #FFD59E;
height: auto;
margin-top: 16px;



}

.Le-Fondateur__h2 { 
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 8px;
    right: 300px;

}

.Le-fondateur__Split-two-columns {
    background-color: #FFD59E;
    display: inline-block;
    padding: 0 64px;
    text-align: right;


} 


.Le-fondateur__Split-two-columns__p_float {
    max-width: 550px;
    float: left;
    margin-right: 16px;
    padding: 16px 0;
    vertical-align: top;


}
.Le-fondateur__Split-two-columns__p_float-left{
    max-width: 550px;
    float: right;
}


/* Nos services */
.nos-services {
    display: block;
}

.nos-services__articles {
    display: block;
    clear: both;
    padding:16px 0;
}
.nos-services__articles__img {
    width: 45%;
}



.nos-services__articles_text-block {
    width: 45%;
    padding-right: 3%;
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
}

.nos-services__articles__img_right {
    padding-right: 3%;
}


/* Table */

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 9px solid #FFD59E;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    
    clear: both;
    
}
  
table th  {
    border: 6px solid #FFD59E;
}
table td {
    border: 3px solid #FFD59E;
}

thead th:nth-child(1) {
    width: auto;
    font-weight: 900;
    border-right: #f5f5f5;
  }
  
thead th:nth-child(2) {
    width: auto;
  }
  
thead th:nth-child(3) {
    width: auto;
  }
  
thead th:nth-child(4) {
    width: auto;
  }
  
th, td {
    padding: 10px;
    
    
}
.row__text {
    font-weight: bold;
    color: #FFA938;
}

/* FORM */



/* Footer */

.footer {
    background-color: #C4C4C4;
    margin-top: 32px;
    padding-bottom: 32px;
    

}

address {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    
}

/* STYLEGUIDE */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #FFA938;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #FF6738;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    font-family: 'Francois One', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #FF6738;
    float: left;
    margin: 0;


}


h4 {
    font-family: 'Francois One', sans-serif;
    font-size: 34px;
    color: #FF6738;
    padding: 0;
    margin: 0;

}
.h3__separator {
    clear: left;
    display: inline-block;
    padding: 16px 0;
    

}

.h3__separator__orange-score {
    height: 54px;
    width: 900px;
    background-color: #FF6738;
    float: right;
    margin-top: 24px;
    margin-left: 24px;
    
    

}

.h3__separator__orange-score_right {
    height: 54px;
    width: 900px;
    background-color: #FF6738;
    float: left;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 24px;
    margin-bottom: 32px;
    

}


p {

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justify;
    
    

}

ul
{
list-style: none;
padding: 0;
margin: 0;
}


input {
    background: #FFD59E;
    border-radius: 5px;
    padding: 16px 16px;
    width: 300px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    border: none;
    margin-bottom: 35px;
    margin-right: 20px;

}

#mandat {
    width: 100%;
    height: 400px;
    text-align: left;
    vertical-align: top;
}

.button-submit {
    padding: 18px 48px;
    background-color: #FF6738;
    width: 150px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 5px;

}


.Banner-image {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    clear: both;
    position: relative;
    text-align: right;
}
.Banner-image__cover {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;
    text-align: right;
    

}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    


}

